.vertical-nav {
  min-width: 17rem;
  position: fixed;
  transition: all 0.4s;
}

.logo {
  height: 10px;
}

.hamburger-toggler {
  border: none;
  background-color: transparent;
}

.nav-btn button {
  border: none;
  background-color: transparent;
  width: 100%;
  text-overflow: ellipsis;
  padding: 5px 0;
}

.btn-text {
  text-align: left;
}

i {
  font-size: 20px;
  color: #606060;
}

.nav-title {
  text-transform: uppercase;
  font-size: 14px;
}

.avatar {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}
.avatar__image {
  border-radius: 50%;
  height: 100%;
  width: 100%;
}
