body {
  font-family: "Roboto", sans-serif;
}

header {
  padding: 17px 15px;
  width: 100%;
  height: 56px;
  display: flex;
  justify-content: space-between;
  background-color: white;
}

ul {
  padding: 0;
}

h3 {
  font-size: 20px;
}

.container-fluid {
  padding: 0;
}

.top-navbar {
  display: flex;
  list-style: none;
}

.hamburger-toggler {
  border: none;
  background-color: transparent;
  position: relative;
}

.logo {
  height: 20px;
  margin: 0 10px 0 20px;
}

.top-nav-left {
  justify-content: start;
}
.top-nav-right {
  justify-content: end;
}

.input-nav {
  width: 55%;
  justify-content: center;
}
.input-nav-item {
  width: 100%;
}

.input-group {
  position: relative;
  bottom: 8px;
}

.form-control {
  border-radius: 0;
  transition: none;
  line-height: 20px;
  font-size: 16px;
}

.search-btn {
  border: 1px solid #ced4da;
  background-color: #f8f8f8;
  border-radius: 0;
  padding: 0 20px;
}
.search-icon-btn {
  position: relative;
  top: 2px;
}

.search-icon {
  display: none;
}

.header-icons {
  position: relative;
  padding: 0 10px;
}

.account-img {
  font-size: 35px;
  bottom: 4px;
}

.top-nav-card-avatar {
  position: relative;
  bottom: 5px;
}

.nav-btn .active,
.active button,
.active .material-icons {
  color: red;
}

.header-line {
  height: 5px;
  color: black;
  width: calc(100% - 250px);
  margin: 0 0 0 250px;
}

.vertical-nav {
  position: fixed;
  transition: all 0.3s ease;
  height: calc(100% - 50px);
  overflow-y: scroll;
}

.main-side-nav {
  min-width: 16rem;
}

.secondary-side-nav {
  margin-top: 5px;
}

.material-icons {
  color: #606060;
}

.nav-btn button {
  border: none;
  width: 100%;
  background-color: transparent;
  text-overflow: ellipsis;
  padding: 8px 0;
  transition: 3ms all ease;
}

.nav-btn button:hover {
  background-color: lightgray;
}

.secondary-side-nav button {
  border: none;
  width: 100%;
  background-color: transparent;
  text-overflow: ellipsis;
  padding: 15px 0;
  transition: 3ms all ease;
}

.secondary-side-nav button:hover {
  background-color: rgb(236, 235, 235);
}

.btn-text {
  text-align: left;
  font-size: 14px;
  line-height: 20px;
}

.nav-title {
  text-transform: uppercase;
  font-size: 14px;
}

.nav-links a {
  color: #606060;
  text-decoration: none;
  font-size: 13px;
  line-height: 18px;
}

.nav-links a:hover {
  color: #606060;
}

.nav-links {
  margin: 0 0 10px 10px;
}

.secondary-side-nav {
  min-width: 5rem;
}

.secondary-side-nav button {
  font-size: 10px;
}

.main_container {
  width: calc(100% - 250px);
  margin-top: 50px;
  margin-left: 250px;
  transition: all 0.3s ease;
}

.categories {
  background-color: white;
  position: fixed;
  z-index: 1;
  width: 82%;
  padding: 0.5rem 2rem;
  border-top: 1px solid rgba(179, 179, 179, 0.836);
  border-bottom: 1px solid rgba(179, 179, 179, 0.836);
  margin-top: 9px;
}

.category-section {
  display: flex;
  overflow: hidden;
}

.category {
  margin-right: 1rem;
  word-wrap: none;
  white-space: nowrap;
  border: 1px solid #ccc;
  border-radius: 900px;
  background-color: #f0efef;
  padding: 0.5rem 1rem;
  font-size: 14px;
  line-height: 20px;
  cursor: pointer;
  transition: background-color 150ms;
}

.category:hover {
  background-color: #ddd;
}

.category.active {
  background-color: black;
  color: white;
  border-color: #eee;
}

.category:last-child {
  margin-right: 0;
}

.youtube-cards {
  position: relative;
  top: 65px;
  padding: 0 20px 0 10px;
  background-color: #f9f9f9;
}

.video-section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 3rem 1rem;
  padding: 3rem 0;
  margin: 0 1.5rem;
  border-top: 4px solid #ccc;
}

.video-section:first-child {
  border-top: none;
}

.card-img-top {
  border-radius: 0px;
}

.thumbnail::before {
  content: attr(data-duration);
  position: absolute;
  background-color: rgba(0, 0, 0, 0.842);
  color: white;
  right: 5px;
  bottom: 5px;
  padding: 0.2em 0.3em;
  border-radius: 0.3em;
  font-size: 0.9rem;
}

.video-container-bottom {
  margin-top: 10px;
  background-color: #f9f9f9;
}

.video-container-bottom a {
  text-decoration: none;
}

.video-container-bottom h5 {
  overflow: hidden;
  line-height: 20px;
  max-height: 40px;
  -webkit-box-orient: vertical;
  display: block;
  display: -webkit-box;
  overflow: hidden !important;
  text-overflow: ellipsis;
  -webkit-line-clamp: 4;
  font-size: 14px;
  margin: 0;
  font-weight: 500px;
  color: #030303;
}

.card-text {
  font-size: 14px;
  color: #606060;
  margin: 0;
}

.channel-name:hover {
  color: #111;
}

.card-avatar,
.top-nav-card-avatar {
  border-radius: 50%;
  height: 36px;
  width: 36px;
}
.avatar__image {
  border-radius: 50%;
  height: 100%;
  width: 100%;
}

.video-section-title {
  grid-column: 1 / -1;
  margin: -0.5rem 0;
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
}

.show-more {
  grid-column: 1 / -1;
  margin: -0.5rem 0;
  display: flex;
  justify-content: center;
}

.show-more button {
  border: none;
  background-color: transparent;
  margin-bottom: 10px;
}

.now {
  width: calc(100% - 90px);
  margin-left: 90px;
}

.hide {
  display: none;
}

.expand {
  width: 100%;
}

@media (max-width: 893px) {
  .secondary-side-nav {
    display: none;
  }
  .now {
    width: 100%;
    margin-left: 0;
  }
  .carousel {
    width: 70%;
  }

  .expand {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .search-icon {
    display: contents;
  }

  .input-group {
    display: none;
  }
  .input-nav {
    width: 30%;
  }
}
