header {
  padding: 17px 15px;
  width: 100%;
  height: 56px;
  display: flex;
  justify-content: space-between;
  background-color: white;
}

ul {
  padding: 0;
}

i {
  font-size: 17px;
  color: #606060;
}

h3 {
  font-size: 20px;
}

.container-fluid {
  padding: 0;
}

.top-navbar {
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

.hamburger-toggler {
  border: none;
  background-color: transparent;
  position: relative;
}

.logo {
  position: relative;
  height: 20px;
  left: 20px;
}

.input-nav {
  width: 55%;
  justify-content: center;
}
.input-nav-item {
  width: 100%;
}

.input-group {
  position: relative;
  bottom: 8px;
}

.form-control {
  border-radius: 0;
  transition: none;
  line-height: 24px;
  font-size: 16px;
}

.search-btn {
  border: 1px grey solid;
  border-radius: 0;
  padding: 0 20px;
}
.header-icons,
.mic {
  font-size: 18px;
  position: relative;
  margin: 0 20px;
}

.sign-in {
  padding-left: 25px;
}
.sign-in p {
  font-size: 14px;
  line-height: 20px;
}
.sign-in-btn button {
  color: #105fd4;
  border: 1px solid #105fd4;
  background-color: transparent;
  text-transform: uppercase;
  padding: 8px 10px;
  position: relative;
  bottom: 10px;
}

.sign-in-btn i {
  color: #105fd4;
  padding-right: 5px;
  font-size: 20px;
}

.header-line {
  height: 5px;
  color: black;
  width: calc(100% - 250px);
  margin: 0 0 0 250px;
}

.vertical-nav {
  position: fixed;
  transition: all 0.3s ease;
  overflow-y: auto;
  margin-top: 50px;
}

.main-side-nav {
  min-width: 16rem;
}

.secondary-side-nav {
  margin-top: 5px;
}

.nav-btn button {
  border: none;
  width: 100%;
  background-color: transparent;
  text-overflow: ellipsis;
  padding: 8px 0;
  transition: 3ms all ease;
}

.secondary-side-nav button {
  border: none;
  width: 100%;
  background-color: transparent;
  text-overflow: ellipsis;
  padding: 15px 0;
  transition: 3ms all ease;
}

.secondary-side-nav button:hover {
  background-color: rgb(236, 235, 235);
}

.nav-btn button:hover {
  background-color: lightgray;
}

.btn-text {
  text-align: left;
  font-size: 14px;
  line-height: 20px;
}

.nav-title {
  text-transform: uppercase;
  font-size: 14px;
}

.secondary-side-nav {
  min-width: 5rem;
}

.secondary-side-nav button {
  font-size: 10px;
}

.main_container {
  width: calc(100% - 250px);
  margin-top: 50px;
  margin-left: 250px;
  transition: all 0.3s ease;
}

.carousel {
  background-color: white;
  position: fixed;
  z-index: 1;
  padding-top: 15px;
  width: 82%;
}

.carousel-control-prev,
.carousel-control-next {
  color: black;
}

.carousel-item button {
  font-size: 14px;
  border: 1px solid lightgray;
  border-radius: 19px;
  background-color: #f3f2f2;
  padding: 5px 13px;
  margin: 0 8px;
}

.carousel-item {
  position: relative;
  left: 80px;
}

.carousel-line {
  margin-bottom: 0;
  color: #b8b4b4;
}

.youtube-cards {
  margin-top: 50px;
}

.card {
  border: none;
}

.card-img-top {
  border-radius: 0;
}

.card-body {
  background-color: #f9f9f9;
}

.card-title {
  font-size: 14px;
  margin: 0;
  font-weight: 500px !important;
  color: #030303;
}

h5 {
  overflow: hidden;
  line-height: 20px;
  max-height: 40px;
  -webkit-box-orient: vertical;
  display: block;
  display: -webkit-box;
  overflow: hidden !important;
  text-overflow: ellipsis;
  -webkit-line-clamp: 4;
}

.card-text {
  font-size: 14px;
  color: #030303;
  margin: 0;
}

.card-avatar {
  border-radius: 50%;
  height: 45px;
  width: 45px;
}
.avatar__image {
  border-radius: 50%;
  height: 100%;
  width: 100%;
}

.youtube-cards {
  padding: 0 20px 0 10px;
  background-color: #f9f9f9;
}

.youtube-cards .row {
  margin: 0;
}

.main-line hr {
  height: 5px;
  color: #d3d1d1;
}

.show-more button {
  border: none;
  background-color: transparent;
}

.now {
  width: calc(100% - 90px);
  margin-left: 90px;
}

.hide {
  display: none;
}

@media (max-width: 893px) {
  .secondary-side-nav {
    display: none;
  }
  .now {
    width: 100%;
    margin-left: 0;
  }
}
